*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.TheHeader{
    padding: 0rem 6%;
}
.ContainerNavBar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.NavBar {
    display: flex;
}
.ContainerNavBar img{
    width: 100px;
}
.IconHeader{
    font-size: 11px;
    color:rgb(127, 127, 127) ;
}
.RightHeader{
    display: flex;
    align-items: center;
    gap: 14px;
    position: relative;
}
.RightHeader input{
    border-radius: 20px;
    padding: 10px;
    border: none;
    border: 1px solid rgb(117, 117, 117);
    width: 120px;
}

.RightHeader i{
    color: rgb(42, 72, 94);
    font-size: 1.4rem;
}
.CercleHeader{
    border-radius: 50%;
    background-color: rgb(0, 183, 181);
    padding: 1px 6px;
    color: white;
    position: absolute;
    top: -4px;
    right: 32px;
}
.SecondCercle{
    color: white;
    background-color:rgb(0, 183, 181) ;
    border-radius: 50%;
    padding: 1px 3px;
    color: white;
    position: absolute;
    top: -4px;
    right: -15px;
}
.NavBar {
  overflow: hidden;
}

.NavBar a {
  float: left;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 15px;  
  border: none;
  outline: none;
  color: rgb(42, 72, 94);
  padding: 10px;
  background-color: inherit;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  margin: 15px 0;
}

.NavBar a:hover, .dropdown:hover .dropbtn {
  background-color: transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-left: 15px;
  background-color: white;
  min-width: 160px;
  border-radius: 2px;
  border: 1px solid rgb(221, 221, 221);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(42, 72, 94);
  padding: 4px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(3, 183, 182);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* !---The Main--- */
/* !---First Section--- */
.FirstSection{
    background-color: rgb(229, 248, 247);
    padding: 4rem 0;
}
.ParagraphFirstSection{
    color: rgb(160, 175, 189);
    text-align: center;
}
.Shop{
    text-align: center;
    color: rgb(42, 72, 94);
    font-size: 50px;
    background-color: rgb(229, 248, 247);
    padding-bottom: 1rem;
    
}
.FirstSection span{
    color: rgb(130, 132, 132);
    cursor: pointer;
}

/* !---Second Section---- */
.SecondSection{
    padding: 3rem 0rem;
}
.containerBoxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 50px;
    padding: 1rem 5%;
}
.Box{
    position: relative;
}
.containerBoxes h3{
    color: rgb(42, 72, 94);
    padding-top: 0.8rem;
    font-size: 17px;
}
.Badge{
    background-color: rgb(0, 183, 181);
    font-weight: bold;
    border-radius: 3px;
    color: white;
    width: fit-content;
    padding: 0.1rem 0.5rem;
    position: absolute;
    left: 10px;
    top: 10px;
}
.ImageSecondSection{
    overflow: hidden;
}
.ImageSecondSection img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding-top: 2rem;
}
.ParagraphSecondSection{
    text-align: center;
    margin-top: 3rem;
}
.ParagraphSecondSection i{
    color: rgb(242, 184, 39);
}
.ParagraphSecondSection p{
    color: rgb(140, 148, 166);
    line-height: 2;
}
.ParagraphFirstSection h3{
    color: rgb(42, 72, 94);
}
.ContainerCercle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}
.Cercle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    
}
.Yellow{
    background-color: rgb(253, 204, 45);
}
.Perpule{
    background-color: rgb(142, 80, 194);
}
.Red{
    background-color: rgb(234, 76, 40);
}
.Orange{
    background-color: rgb(253, 118, 36);
}
.Brown{
    background-color: rgb(78, 24, 10);
}
.PageLink{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(42, 72, 120);
    font-weight: bold;
    font-size: 19px;
}
.Page2{
    border-radius: 50%;
    background-color: rgb(0, 183, 181);
    padding: 0.1rem 0.8rem;
}
.PageLink i{
    color:rgb(42, 72, 120) ;
}
.PageLink i:hover{
    color: rgb(76, 110, 223);
}
.page1 a:hover{
    color: rgb(76, 110, 223);
}
.page1 a{
    text-decoration: none;
    color:rgb(42, 72, 120) ;
}
.Page2 a{
    text-decoration: none;
    color:white;
}
.HidenIcons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.HidenIcons i{
    background-color: rgb(229, 248, 247);
    color: rgb(176, 189, 192);
    padding: 0.4rem;
    width: fit-content;
    border-radius: 50%;
    display: none;
}
.ImageSecondSection:hover> .HidenIcons i {
    display: block;
}
/* ?----------hover Imgae--------- */
.Image1{
    display: none;
}
.ImageSecondSection:hover .Image1{
    display: block;
}
.ImageSecondSection:hover .Image2{
    display: none;

}
input[type=checkbox] {
  accent-color: rgb(2, 155, 153);
}
/* !----------------Fixed Btn------ */
.FixedBtn{
    border-radius: 50%;
    background-color: rgb(2, 183, 182);
    width: fit-content;
    padding:  2px 8px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.FixedBtn i{
    color: white;
}


/* !----The Footer--- */
.TheFooter{
    background-color: rgb(0, 84, 97);
    padding: 3rem 6%;
}
.ContainerFooter{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 25px;
    padding-bottom: 4rem;
}
.TheFooter p, i, a{
    color: rgb(179, 212, 215);
    line-height: 2;
}
.TheFooter img{
    width: 40%;
    padding-bottom: 1rem;
}
.TheFooter h3{
    color: white;
    padding-bottom: 1rem;
}
.TheFooter a{
    text-decoration: none;
}
.TheFooter a:hover{
    color: rgb(0, 183, 181);
}
.SocialMediaIcons i:hover{
    background-color: white;
    border-radius: 4px;
    border: 1px solid white;
    color: black;
}
.SocialMediaIcons{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-top: 1.3rem;
    padding: 1rem;
}
.LastFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(179, 212, 215) ;
    padding-top: 2rem;
}
.LastFooterRight{
    display: flex;
    align-items: center;
    gap: 30px;
}
.icon{
    color: rgb(35, 193, 191);
}
.ParagraphFooter{
    font-weight: bold;
    color: white;
    line-height: 2;
    padding-top: 1rem ;
}


/* !TODO---Tablette--- */
@media (max-width:768px){
/* !---The Header--- */
.ContainerNavBar{
    flex-direction: column;
}
.NavBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.dropdown .dropbtn {
  font-size: 15px;  
  padding: 5px;
}
.ContainerNavBar{
    padding: 0.5rem 2%;
}

/* !---The Main--- */
/* !---First Section--- */


/* !---Second Section---- */

.containerBoxes{
    grid-template-columns: 1fr 1fr;
}

/* !----The Footer--- */
.ContainerFooter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding-bottom: 4rem;
}
.LastFooter{
    flex-direction: column;
}


}


/* !TODO---Phone--- */
@media (max-width:480px){
/* !---The Header--- */
.ContainerNavBar{
    flex-direction: column;
}
.NavBar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* !---The Main--- */
/* !---First Section--- */


/* !---Second Section---- */
.containerBoxes{
    grid-template-columns: 1fr ;
}

/* !----The Footer--- */
.ContainerFooter{
    grid-template-columns: 1fr;
}
.LastFooter{
    flex-direction: column;
}


}

